@font-face {
    font-family: comfy;
    src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
}

* {
    font-family: 'courier', 'monospace';
    font-size: 13px;
    background: var(--background);
    color: var(--foreground);
}

body {
    padding-bottom: 5px;
}

img {
    filter: grayscale(1);
}

div.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.column {
    margin: 0 auto;
    display: block;
}

div.center, div.column {
    width: 90%;
    max-width: 500px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
}

#footer {
}

#header a {
    text-decoration: none;
}

#footer a {
    text-decoration: none;
}

#content {
    text-align: justify;
}

#content table {
    width: 100%;
    margin: 25px 0 25px 0;
    border-collapse: collapse;
}

#content td {
    text-align: center;
    padding: 50px;
    border: 1px var(--foreground) solid;
}

#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 25px 0 25px 0;
    padding: 50px 0 50px 0;
    border-top: 1px var(--foreground) solid;
    border-bottom: 1px var(--foreground) solid;
    width: 100%;
}

.box {
    border: 1px var(--highlights) solid;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
}

.banner {
    margin-top: 5px;
    background-position: center bottom;
}

.spotify {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    frameborder: 0;
    border: 1px var(--highlights) solid;
}

b, h1, h2, h3, h4, a {
    color: var(--highlights);
}

a:hover {
    color: var(--foreground);
}

table {
    width: 100%;
}

.titlebar {
    padding-top: 15px;
}

.titlebar a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

dt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linebreak {
    margin-top: 15px;
    border-bottom: 1px var(--foreground) solid;
}

.src {
    border: 1px var(--foreground) solid;
    padding: 15px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.comfy {
    font-family: comfy;
}
